.guests {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @media (min-width: $screen-sm-2) {
      div {
        position: static;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      justify-content: center;
      width: 100vw;
      img {
        transform: none;
        width: 50vw;
        @media (min-width: $screen-m-2) {
          width: 33.333vw;
        }
      }
    }
    }
  }