.our-topics {
    h2 {
      margin-top: 48px;
      margin-bottom: 24px;
    }
    img {
      margin-bottom: 13px;
      size: 104px;
      width: unset;
  
    }
    .topics {
      display: flex;
      flex-direction: column;
      @media (min-width: $screen-m) {
        flex-direction: row;
        flex-wrap: wrap;
          .topic {
            width: 260px;
        }
      }
    }
  }