.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: none;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

li {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  margin-left: 0;
}

nav .navbar {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navbar img {
  margin-top: 10px;
  margin-left: 16px;
  width: 24px;
  height: 24px;
}

nav .navbar .hamburger {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navbar .hamburger span {
  height: 2px;
  width: 18px;
  background-color: black;
}

nav input {
  position: absolute;
  height: 26px;
  width: 26px;
  top: 8px;
  right: 13px;
  opacity: 0;
}

nav .nav-links {
  background-color: #0000ec;
  display: none;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links li a {
  display: block;
  padding: 16px;
}

nav .nav-links li :hover {
  background-color: #00f3bb;
}

@media (max-width: 800px) {
  nav input:checked ~ .nav-links {
    display: block;
    -webkit-animation: nav-in 0.2s;
            animation: nav-in 0.2s;
  }
}

@media (min-width: 800px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .navbar {
    height: 80px;
  }
  nav .navbar .hamburger {
    display: none;
  }
  nav .navbar img {
    margin-top: 22px;
    margin-left: 100px;
    width: 36px;
    height: 36px;
  }
  nav .nav-links {
    margin-right: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
  }
  nav .nav-links li a {
    color: #060a24;
  }
  nav .nav-links li :hover {
    background-color: white;
  }
  nav .nav-links :hover {
    color: #00f3bb;
    text-decoration: line-through;
  }
}

@-webkit-keyframes nav-in {
  from {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nav-in {
  from {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

h1 {
  padding: 0;
  margin-bottom: 16px;
}

h1 .crossed {
  text-decoration: line-through;
}

h1 .dot {
  color: blue;
}

h1,
h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: normal;
}

h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  margin-bottom: 65px;
}

p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90vw;
  margin-bottom: 36px;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
}

.btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "IBM Plex Mono", monospace;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  background: #00f3bb;
  padding: 13px;
  width: 288px;
  height: 48px;
}

.btn:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  color: white;
}

.spoti {
  padding-top: 88px;
  height: 1203.5px;
  position: relative;
}

@media (min-width: 800px) {
  .spoti {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.spoti h2 {
  margin-top: 5%;
  margin-bottom: 21px;
  color: white;
}

.spoti .spotiframes {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.spoti .spotiframes .spotiframe {
  width: 93vw;
  padding-bottom: 5px;
}

.spoti .spotiframes .spotiframe iframe {
  width: 100%;
}

@media (min-width: 400px) {
  .spoti .spotiframes .spotiframe {
    width: 372px;
  }
}

@media (min-width: 800px) {
  .spoti .spotiframes .spotiframe {
    width: 49vw;
  }
}

@media (min-width: 1200px) {
  .spoti .spotiframes .spotiframe {
    width: 584px;
    margin-bottom: calc(25vw - 302px);
  }
}

@media (min-width: 1600px) {
  .spoti .spotiframes .spotiframe {
    width: 37vw;
    margin-bottom: calc(89px);
  }
}

.spoti::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 5%;
  height: 103%;
  width: 100%;
  -webkit-transform: skewY(353deg);
          transform: skewY(353deg);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
}

.guests div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 640px) {
  .guests div {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
  }
  .guests div .g1, .guests div .g2, .guests div .g3, .guests div .g4, .guests div .g5, .guests div .g6 {
    -webkit-transform: none;
            transform: none;
    width: 50vw;
  }
}

@media (min-width: 640px) and (min-width: 960px) {
  .guests div .g1, .guests div .g2, .guests div .g3, .guests div .g4, .guests div .g5, .guests div .g6 {
    width: 33.333vw;
  }
}

.nuestros-temas h2 {
  margin-top: 48px;
  margin-bottom: 24px;
}

.nuestros-temas img {
  margin-bottom: 13px;
  size: 104px;
  width: unset;
}

.nuestros-temas .topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 800px) {
  .nuestros-temas .topics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nuestros-temas .topics .topic {
    width: 260px;
  }
}

.novedades {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  height: 341px;
  overflow: hidden;
}

.novedades h2 {
  text-align: center;
  color: white;
  margin-bottom: 36px;
}

.novedades .btn {
  margin-bottom: 67px;
}

@media (min-width: 800px) {
  .novedades {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    height: 518px;
  }
  .novedades .btn {
    margin-bottom: 151px;
  }
}

.novedades::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 7.5vw;
  height: 200%;
  width: 500%;
  -webkit-transform: skewY(353deg);
          transform: skewY(353deg);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
}

footer p {
  text-align: center;
  margin-top: 24px;
  width: auto;
}

footer .socials {
  width: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 16px 45px 31px 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 800px) {
  .footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}
/*# sourceMappingURL=styles.css.map */