* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: none;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}

img {
  margin: 0;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

nav {
  margin-left: 0;
}

nav .navbar {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navbar img {
  margin-top: 10px;
  margin-left: 16px;
  width: 24px;
  height: 24px;
}

nav .navbar .hamburger {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navbar .hamburger span {
  height: 2px;
  width: 18px;
  background-color: black;
}

nav input {
  position: absolute;
  height: 26px;
  width: 26px;
  top: 8px;
  right: 13px;
  opacity: 0;
}

nav .nav-links {
  background-color: #0000ec;
  display: none;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links li a {
  display: block;
  padding: 16px;
}

nav .nav-links li :hover {
  background-color: #00f3bb;
}

@media (max-width: 800px) {
  nav input:checked ~ .nav-links {
    display: block;
    -webkit-animation: nav-in 0.2s;
            animation: nav-in 0.2s;
  }
}

@media (min-width: 800px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .navbar {
    height: 80px;
  }
  nav .navbar .hamburger {
    display: none;
  }
  nav .navbar img {
    margin-top: 22px;
    margin-left: 100px;
    width: 36px;
    height: 36px;
  }
  nav .nav-links {
    margin-right: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
  }
  nav .nav-links li a {
    color: #060a24;
  }
  nav .nav-links li :hover {
    background-color: white;
  }
  nav .nav-links :hover {
    color: #00f3bb;
    text-decoration: line-through;
  }
}

@-webkit-keyframes nav-in {
  from {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nav-in {
  from {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

h1 span {
  text-decoration: line-through;
}

h1,
h2 {
  margin-left: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: normal;
}

h3 {
  margin-left: 15px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
}

p {
  margin-left: 16px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
}

.btn {
  margin-left: 16px;
  font-family: "IBM Plex Mono", monospace;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  background: #00f3bb;
  padding: 13px;
  width: 288px;
  height: 48px;
}

.btn:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  color: white;
}

.spoti {
  padding-top: 88px;
  height: 1203.5px;
  position: relative;
  width: 100%;
}

.spoti h2 {
  margin-bottom: 21px;
  color: white;
}

.spoti::before {
  position: absolute;
  z-index: -1;
  content: "";
  left: -57%;
  top: 0;
  height: 103%;
  width: 500%;
  -webkit-transform: rotate(353deg);
          transform: rotate(353deg);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
}

.nuestros-temas img {
  size: 104px;
  width: unset;
}

.novedades {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 341px;
  overflow: hidden;
}

.novedades::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 7.5vw;
  height: 200%;
  width: 500%;
  -webkit-transform: rotate(353deg);
          transform: rotate(353deg);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
}
/*# sourceMappingURL=styles.css.map */